@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.start-crt {
  background: #000;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #00ff00;
  font-family: "Press Start 2P", monospace;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.title {
  font-size: 36px;
  margin-bottom: 15px;
  text-shadow: 0 0 8px #00ff26;
}

.subtitle {
  font-size: 12px;
  margin-bottom: 50px;
  opacity: 0.85;
  letter-spacing: 2px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 400px;
  align-items: center;
}

.start-btn {
  background: #000;
  color: #00ff00;
  border: 3px solid #00ff00;

  padding: 20px 30px;
  font-size: 16px;
  width: 100%;

  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: "Press Start 2P", monospace;

  box-shadow:
    0 0 6px #00ff00,
    0 0 14px #00ff00;

  transition: transform 0.15s ease,
              box-shadow 0.15s ease,
              background-color 0.15s ease,
              color 0.15s ease;
}

.start-btn:hover {
  background: #00ff00;
  color: #000;

  box-shadow:
    0 0 12px #00ff00,
    0 0 24px #00ff00;

  transform: translateY(-2px) scale(1.04);
}

.btn-back {
  opacity: 0.8;
}
