@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* fullscreen */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.crt {
  background: #020202;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #00ff9c;
  font-family: "Press Start 2P", monospace;
  text-align: center;

  animation: flicker 0.15s infinite;
}

/* Title */
.title {
  font-size: 56px;
  margin-bottom: 10px;
  text-shadow: 0 0 8px #00ff26;
}

/* Subtitle */
.subtitle {
  font-size: 14px;
  margin-bottom: 50px;
  opacity: 0.8;
}

/* Button */
.start-btn {
  background: black;
  color: #00ff9c;
  border: 3px solid #00ff9c;
  padding: 22px 34px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 15px #00ff9c;
}

.start-btn:hover {
  background: #00ff9c;
  color: black;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 20px;
  font-size: 10px;
  opacity: 0.6;
}
