.create-player-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: "Press Start 2P", monospace;
    background-color: black;
}

.create-player-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.create-player-content input {
    padding: 15px;
    margin-top: -20px;
    margin-bottom: 15px;
    font-size: 30px;
    border-radius: 8px;
    border: 2px solid #00FF9C;
    min-width: 500px;
    height: 30px;
    background-color: black;
    /* text-shadow: 0 0 8px #00ff26; */
}

.create-player-content a {
    background: black;
    color: #00ff9c;
    border: 3px solid #00ff9c;
    padding: 22px 34px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 15px #00ff9c;
    min-width: 350px;
    text-align: center;
}

.create-player-content a:hover {
    background: #00ff9c;
    color: black;
}

.create-player-header {
    font-size: 45px;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 8px #00ff26;
}